data-ARCHIVED*/
.Rproj.user
data/trax*
data/*gp*
data/visit1.rda
tests/testthat/_snaps/*.new.md
inst/doc
fxtas-PHS-Z1610005F.Rproj
-PHS-Z1610005F.Rhistory
misc
output
output.FXTAS
output*
vignettes/output*
*.rmarkdown
fxtas.Rcheck/
fxtas*.tar.gz
fxtas*.tgz
miniconda
.Rhistory
/.quarto/
data-raw/logs
data-raw/out
_freeze
*~$*
*.docx
.Rdata
.httr-oauth
.DS_Store
.quarto
/doc/
/Meta/
docs
**/.quarto/
README.html
README_files
**/real_data**
tests/testthat/_snaps/*/*.new.*
Rplot.png
Rplot01.pdf
bump.jpeg

**/*.quarto_ipynb
.positai
